$blue: white;
$darkBlue: #23333f;
$white: #ffffff;

.svg-container {
  padding: 3em;
  svg {
    max-width: 500px;
  }
}

.line {
  fill: none;
  stroke: $blue;
  stroke-miterlimit: 10;
  stroke-width: 0.5;
  animation: line-pulse 5s ease infinite;
  -moz-animation: line-pulse 5s ease infinite; /* Firefox */
  -webkit-animation: line-pulse 5s ease infinite; /* Safari and Chrome */
  -o-animation: line-pulse 5s ease infinite; /* Opera */
}

.circle {
  fill: transparent;
  transition: fill 300ms ease;
}

.blue-bg {
  fill: $blue;
  animation: circle-pulse 10s linear infinite;
  -moz-animation: circle-pulse 10s linear infinite; /* Firefox */
  -webkit-animation: circle-pulse 10s linear infinite; /* Safari and Chrome */
  -o-animation: circle-pulse 10s linear infinite; /* Opera */
  -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
  animation-delay: 3s;
}

@keyframes circle-pulse {
  0%, 100% {
    fill: $blue;
  }
  50% {
    fill: $white;
  }
}

@keyframes line-pulse {
  0%, 100% {
    stroke: $blue;
  }
  50% {
    stroke: $white;
  }
}

@keyframes svg-pulse {
  0%, 100% {
    stroke: $blue;
  }
  50% {
    stroke: $white;
  }
}